<!DOCTYPE html>
<html>
  <head>
  	<script src="javascripts/annyang24.js"></script>
	<script>
	if (annyang) {
	  // Let's define a command.
	  var commands = {
	    'hello': function() { 
	    	console.log('hello');
	    }
	  };

	  // Add our commands to annyang
	  annyang.addCommands(commands);

	  // Start listening.
	  annyang.start();
	}
	</script>

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script>
	  var socket = io();
	</script>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>
    <p>Say 'hello'</p>
  </body>
</html>
